<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Expandit.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QuickTypeApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Expandit.Settings>
            <setting name="IsMatchingCaseSensitive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TriggerKeys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Space</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IsRunOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchByName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchByKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchByValue" serializeAs="String">
                <value>True</value>
            </setting>
        </Expandit.Settings>
        <QuickTypeApp.Settings>
            <setting name="IsMatchingCaseSensitive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TriggerKeys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Space</string>
                        <string>Enter</string>
                        <string>Tab</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IsRunOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchByName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchByKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchByValue" serializeAs="String">
                <value>True</value>
            </setting>
        </QuickTypeApp.Settings>
    </userSettings>
</configuration>